@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* ======= BODY ======= */
body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ======= HEADER ======= RITIRADA PARA EVITAR COMFLITO */
.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .container {
        max-width: 420px;
        margin: 60px auto;
        padding: 22px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
      }
      h2 {
        text-align: center;
        margin-bottom: 12px;
      }
      input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 6px;
        border: 1px solid #ccc;
      }
      button {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: none;
        background: #ff6a00;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
      }
      small {
        display: block;
        color: #666;
        margin-top: 8px;
        text-align: center;
      }
      
.header {

  width: 150px;
  height: auto;
}
.logo {
  position: relative;
  z-index: 10;
  width: 150px;
  height: 60px;
  padding: 80px;
  margin-top: 80px; /* Ajuste a margem superior conforme necessário */
}

/* ====== BARRA SUPERIOR ====== */
.top-bar {
  width: 100%;
  height: 60px;
  background-color: #ff7300;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* garante que a barra fica na frente dos elementos */
}


/* ======= BARRA INFERIOR ======= */
.bottom-bar {
  width: 100%;
  height: 50px;
  background-color: #ff7300;
}

/* ===== LOGIN AREA ===== */
.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 110px);
  padding: 20px 0;
}

.login-container {
  background-color: white;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: -40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #999;
  font-size: 16px;
}

form button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #ff6a00;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* Botão Google */
.google-btn {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 8px;
  cursor: pointer;
}

/* Texto cadastro */
.cadastro-texto {
  margin-top: 15px;
  font-size: 14px;
}

.btn-cadastro {
  color: #ff6a00;
  font-weight: bold;
  text-decoration: none;
}

.btn-cadastro:hover {
  text-decoration: underline;
}

/* Voltar */
.VOLTAR {
  display: block;
  margin-top: 10px;
  color: #ff6a00;
  font-weight: bold;
  text-decoration: none;
}
